
button
{
    height: 40px;
    width: 40px;
    margin:5px;
}
#c
{
    background-color: rgb(210, 30, 30);
    text-align: center;
    text-decoration: solid;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white
}
#num
{
    background-color: white;
    text-align: center;
    text-decoration: solid;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#op
{
    background-color: rgb(191, 180, 180);
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#equal
{
    background-color: rgba(58, 120, 214, 0.886);
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#del
{
    background-color: rgb(210, 30, 30);
    text-align: center;
    text-decoration: solid;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#num:hover{background-color:rgb(80, 35, 64);}
#op:hover{background-color:rgb(255, 166, 0);}
#equal:hover{background-color:rgb(255, 166, 0);}
#c:hover{background-color:rgb(255, 166, 0);}
#del:hover{background-color:rgb(255, 166, 0);}

#topDisplay
{
    height: 25px;
    text-align: right;
    padding-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bottomDisplay
{
    height: 60px;
    text-align: right;
    padding-right: 10px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* #history
{
    padding-left: 10px;
    width: 100px;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
div.history
{
    padding-left: 10px;
    width: 100px;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}