button{
    height: 40px;
    width: 40px;
    margin:5px;
}
#num{
    background-color: white;
    text-align: center;
    text-decoration: solid;
    font-size: 20px;
}

#op{
    background-color: rgb(191, 180, 180);
    text-align: center;
    font-size: 20px;
    }

#num:hover{
    background-color:rgb(255, 166, 0);
}

#op:hover{
    background-color:rgb(255, 166, 0);
}
#topDisplay
{
    height: 25px;
    text-align: right;
    padding-right: 10px;
}
#bottomDisplay
{
    height: 60px;
    text-align: right;
    padding-right: 10px;
    font-size: xx-large;
}